.LeftSide{
     display: flex;
     justify-content: center;
     align-items: center;
   flex-wrap: nowrap;
  
    img{
      height:calc(92vh + 13px);  
      width: 100%;   
      min-width:410px ;  
      transform: translateX(10px);
   }
   }
   

  @media only screen and (max-width:1200px){
    
      .LeftSide{
         img{
            display: none;
         }
      }

  }       
  @media only screen and (max-width:1300px){
    
   .LeftSide{
      img{
      transform: translateX(-15px);
      margin-left: 1rem;  
      }
   }

}       

   